/** Fuentes **/
@font-face {
  font-family: 'AkzidenzGroteskBQ-Super';
  src: url('../fonts/AkzidenzGroteskBQ-Super/AkzidenzGroteskBQ-Super.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/AkzidenzGroteskBQ-Super/AkzidenzGroteskBQ-Super.otf')  format('opentype'),
	     url('../fonts/AkzidenzGroteskBQ-Super/AkzidenzGroteskBQ-Super.woff') format('woff'),
	     url('../fonts/AkzidenzGroteskBQ-Super/AkzidenzGroteskBQ-Super.ttf')  format('truetype'),
	     url('../fonts/AkzidenzGroteskBQ-Super/AkzidenzGroteskBQ-Super.svg#AkzidenzGroteskBQ-Super') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Efesto-Regular';
  src: url('../fonts/Efesto-Regular/Efesto-Regular.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/Efesto-Regular/Efesto-Regular.woff') format('woff'),
  		 url('../fonts/Efesto-Regular/Efesto-Regular.ttf')  format('truetype'),
  		 url('../fonts/Efesto-Regular/Efesto-Regular.svg#Efesto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskBQ-LigCnd';
  src: url('../fonts/AkzidenzGroteskBQ-LigCnd/AkzidenzGroteskBQ-LigCnd.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/AkzidenzGroteskBQ-LigCnd/AkzidenzGroteskBQ-LigCnd.otf')  format('opentype'),
	     url('../fonts/AkzidenzGroteskBQ-LigCnd/AkzidenzGroteskBQ-LigCnd.woff') format('woff'),
	     url('../fonts/AkzidenzGroteskBQ-LigCnd/AkzidenzGroteskBQ-LigCnd.ttf')  format('truetype'),
	     url('../fonts/AkzidenzGroteskBQ-LigCnd/AkzidenzGroteskBQ-LigCnd.svg#AkzidenzGroteskBQ-LigCnd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  		 url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), 
  		 url('../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'),
  		 url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/** Fuentes **/
/** Body - Begin**/
	body {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.margin-padding-none {
		margin: 0px;
		padding: 0px;
	}
/** Body - End **/
/** Scrolling Efects **/
.fade {
  opacity: 1;
}

/** Menú Navbar - Begin **/
	/** Móvil **/
	.bg-dark {
		background-color: #fff !important;
	}
	.navbar-dark .navbar-nav .active>.nav-link {
		color: #000;
		text-align: center;
	}
	.nav-item {
		text-align: center;
	}
	.navbar-dark .navbar-nav .nav-link {
		color: #000;
		font-family: 'Roboto-Regular';
	}
	.navbar-dark .navbar-nav .nav-link:hover {
		background-color: #4903b8;
		color: #fff !important;
	}
	.navbar-toggler {
		background-color: #4903b8;
		color: #fff;
	}
	.fixed-top {
		position: relative;
	}
	/** Desktop **/
	.blog-header {
		background-color: #fff !important;
		position: fixed;
		z-index: 2000;
	}
	.blog-header-logo {
		width: 80%;
		margin: auto;
	}
	.text-muted {
		padding: 10px;
		color: #000000 !important;
		font-size: 16px;
		text-decoration: none !important;
		font-family: 'Roboto-Regular';
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	.text-muted:hover {
		background-color: #4b08be;
		color: #ffffff !important;
	}
/** Menú Navbar - End **/
/** Main Slider - Begin **/
.main-carousel, .main-carousel-inner, .main-carousel-item, .main-carousel img {
	width: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
}
.main-carousel-caption {
	background-color: rgba(0,0,0,0.8);
	right: 0;
}
.main-carousel-caption h1 {
	font-family: 'AkzidenzGroteskBQ-Super';
}
.main-carousel-caption h2 {
	font-family: 'AkzidenzGroteskBQ-Super';
}
.carousel-item {
  height: 32rem;
  background-color: #777;
}
/** Main Slider - End **/
/** Nosotros section - Begin **/
.nosotros-section {
	background-color: #fff;
}
.nosotros-section h1 {
  padding: 2rem 2rem 2rem 2rem;
  font-size: 3.8rem;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto-Regular';
}
.nosotros-section p {
	position: relative;
  padding: 0rem 1.5em 0rem 1.5rem;
  font-size: 1.1rem;
  text-align: justify;
  color: #000;
  line-height: 2rem;
  font-family: 'Roboto-Regular';
}
.nosotros-section img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.overlay-purple {
  background-color: rgba(73,3,184,0.95);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/** Nosotros section - End **/
/** Certificación Internacional section - Begin **/
video {
	padding-top: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 2rem;
}
.certificacion-section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
}
.certificacion-section h1 {
	padding: 2rem;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto-Regular';
}
.certificacion-section>div>div {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.certificacion-section img {
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
.certificacion-section p {
	padding: 1rem 1em 0rem 1rem;
  font-size: 1.1rem;
  text-align: justify;
  color: #000;
  line-height: 2rem;
  font-family: 'Roboto-Regular';
}
/** Certificación Internacional section - End **/
/** Nuestra Receta section - Begin **/
.nuestra-receta-section {
	background-image: url("../images/items/nuestra-receta.png");
	width: 100%;
	height: 750px;
	position: relative;
}
.nuestra-receta-section h1 {
  color: #ffffff;
  text-align: center;
  display: block;
  top: 2rem;
  bottom: 0rem;
  left: 0;
  padding: 2rem;
  width: 100%;
  font-size: 5rem;
  text-shadow: 5px 5px 5px #000000, 0 0 25px #000000, 0 0 5px #000000;
  position: relative;
	z-index: 3;
	font-weight: bold;
  font-family: 'Roboto-Regular';
}
.nuestra-receta-section h3 {
	color: #fff;
	z-index: 10;
	position: relative;
	right: 0;
  text-align: center;
  display: block;
  bottom: 0rem;
  left: 0;
  padding: 2rem;
  width: 100%;
  font-size: 2rem;
  text-shadow: 5px 5px 5px #000000, 0 0 25px #000000, 0 0 5px #000000;
	font-weight: bold;
  font-family: 'Roboto-Regular';
}
.nuestra-receta-slider {
	padding: 2rem 0;
	z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
}
.gradient-effect {
  display: block;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0;
  padding: 5px;
  width: 100%;
  z-index: 1;
  background: rgba(237,237,237,0);
  background: -moz-linear-gradient(top, rgba(237,237,237,0) 43%, rgba(237,233,217,0) 46%, rgba(240,195,14,0.86) 76%, rgba(240,192,0,0.86) 78%);
  background: -webkit-gradient(left top, left bottom, color-stop(43%, rgba(237,237,237,0)), color-stop(46%, rgba(237,233,217,0)), color-stop(76%, rgba(240,195,14,0.86)), color-stop(78%, rgba(240,192,0,0.86)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,0) 43%, rgba(237,233,217,0) 46%, rgba(240,195,14,0.86) 76%, rgba(240,192,0,0.86) 78%);
  background: -o-linear-gradient(top, rgba(237,237,237,0) 43%, rgba(237,233,217,0) 46%, rgba(240,195,14,0.86) 76%, rgba(240,192,0,0.86) 78%);
  background: -ms-linear-gradient(top, rgba(237,237,237,0) 43%, rgba(237,233,217,0) 46%, rgba(240,195,14,0.86) 76%, rgba(240,192,0,0.86) 78%);
  background: linear-gradient(to bottom, rgba(237,237,237,0) 0%, rgba(237,233,217,0) 0%, rgba(240,195,14,0.96) 76%, rgba(240,192,0,0.96) 78%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f0c000', GradientType=0 );
}
.overlay-img {
  background-color: rgba(0,0,0,0.0);
  display: block;
  position: absolute;
  bottom: 0rem,;
  top: 0rem;
  right: 0rem;
  left: 0rem;
  padding: 3rem 5rem 5rem 5rem;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.nuestra-receta-fancybox {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.nuestra-receta-fancybox h3 {
	font-size: 2.5rem;
	color: #4903b8;
}
.nuestra-receta-fancybox li {
	font-size: 1.5rem;
	color: #000;
}
.btn-previus:hover, .btn-next:hover {
	cursor: pointer;
}
.btn-previus {
	margin: auto;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top: 40%;
	right: 0; 
	width: 35%;
}
.btn-next {
	margin: auto;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	top: 40%;
	left: 0; 
	width: 35%;
}
/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;    
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider-prev {
    left:-30px; right:auto;
}

#thumbnail-slider-next {
    left:auto; right:-30px;
}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
}

#thumbnail-slider-prev::before {
    left:7px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider {padding:10px 26px;}

    #thumbnail-slider-prev {left:0px;}

    #thumbnail-slider-next {right:0px;}
}

/** Nuestra Receta section - End **/
/** Alianza - Begin **/
.alianza-section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
}
.alianza-section h1 {
	padding: 2rem;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto-Regular';
}
.alianza-section p {
	padding: 1rem 1em 0rem 1rem;
  font-size: 1.1rem;
  text-align: justify;
  color: #000;
  line-height: 2rem;
  font-family: 'Roboto-Regular';
}
/** Alianza - End **/
/** Nuestros Clientes section - Begin **/
.clientes-section {
	background-image: url("../images/items/nuestros-clientes.png");
	width: 100%;
	height: 600px;
	position: relative;
}
.clientes-section h1 {
  color: #000000;
  text-align: center;
  display: block;
  position: absolute;
  top: 4rem;
  bottom: 0rem;
  left: 0;
  padding: 5px;
  width: 100%;
  font-size: 3rem;
  text-shadow: 5px 5px 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
  font-weight: bold;
  font-family: 'Roboto-Regular';
}
.nuestros-clientes {
	z-index: 1001;
	position: absolute;
	top: 40%;
	bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.customer-logos{
	background-color: rgba(255,255,255,1);
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.grises img {
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.grises img:hover { 
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: none;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
/** Nuestros Clientes section - End **/
/** Redes Sociales section  - Begin **/
.redes-sociales-section {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #000;
}
.redes-sociales-section h1 {
	color: #ffffff;
	font-weight: bold;
  font-family: 'Roboto-Regular';
}
.redes-sociales-section a {
	padding: 5px;
}
/** Redes Sociales section - Begin **/
/** Testimonios section - Begin **/
.testimonio-section > {

}
.testimonio-section h1 {
	color: #000;
	padding: 2rem;
	font-weight: bold;
  font-family: 'Roboto-Regular';
}
.bg-testimonio {
	background-image: url("../images/items/testimonio.jpg");
	background-size: 100% 100%;
	position: relative;
	background-repeat: no-repeat;
}
.overlay-dark {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	z-index: 4;
	width: 100%;
	height: 100%;
}
.img-wrap {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 5;
  margin-top: 1rem;
}
.img-wrap h5 {
	color: #fff;
	font-weight: bold;
	font-family: 'Roboto-Regular';
	font-size: 20px;
	margin-top: 2rem;
}
.img-wrap h6 {
	color: #fff;
	font-family: 'Roboto-Regular';
	font-size: 18px;
	margin-top: 0.5rem;
	line-height: 1.8rem;
}
.img-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(73,3,184,0.95);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 16px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.img-wrap:hover .img-description-layer {
  visibility: visible;
  opacity: 1;
}
.img-description {
  transition: .2s;
  transform: translateY(1em);
}

.img-wrap:hover .img-description {
  transform: translateY(0);
}
/** Testimonios section - End **/
/** Contacto section - Begin **/
.contacto-section {
	background-color: #c4c4c4;
}
.contacto-section h1 {
	color: #000;
	padding: 2rem;
	font-weight: bold;
  font-family: 'Roboto-Regular';
}
.contacto-section form {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.contacto-section input {
	height: 50px;
	border: 0px;
	border-radius: 5px;
}
.btn-dark {
	font-weight: bold;
}
.fancybox-opened {
  left: 0 !important;
  right: 0;
  margin: auto;
}
.fancybox-skin {
	padding: 0px !important;
}
.fancybox-inner {
	width: 100% !important;
}
.msg1, .msg2, .msg3, .msg4 {
	padding: 15px;
	background-color: #4c17ad !important;
}
.msg1>p, .msg2>p, .msg3>p, .msg4>p{
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center !important;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
}
/** Contacto section - End **/
/** Footer - Begin **/
footer {
	background-color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
footer img {
	margin: auto;
}
footer h5 {
	color: #4c17ad;
	font-weight: bold;
	font-weight: bold;
  font-family: 'Roboto-Regular';
}
footer p {
	color: #000;
	font-weight: 400;
	line-height: 2rem;
  font-family: 'Roboto-Regular';
}
footer a {
	color: #00789c;
	text-decoration: none !important;
	font-weight: bold;
}
/** Footer - End **/
/** Responsive **/

/** Small devices (landscape phones, 320px and up) **/
@media (min-width: 320px) { 
	/** Main Slider - Begin **/
	.main-carousel, .main-carousel-inner, .main-carousel-item, .main-carousel img  {
		height: 300px;
	}
	.main-carousel-caption {
		left: 10%;
		bottom: 12rem;
	}
	.carousel-item {
	  height: 32rem;
	  background-color: #777;
	  margin-top: 0rem;
	}
	/** Main Slider - End **/
	/** Nosotros - Begin **/
	.nosotros-section h1 {
	  font-size: 2.5rem;
	}
	.foto {
		float: center;
	}
	/** Nosotros - End **/
	/** Certificación Internacional - Begin **/
	.certificacion-section h1 {
	  font-size: 2.5rem;
	}
	/** Certificación Internacional - End **/
	/** Nuestra Receta  - Begin **/
	.nuestra-receta-section h1 {
	  font-size: 2.5rem;
	}
	.certificacion-section h2 {
		font-family: 'Roboto-Regular';
		color: #4903b8;
		font-weight: bold;
	}
	.fancybox-opened {
		width: 90% !important;
	}
	/** Nuestra Receta  - End **/
	/** Alianza - Begin **/
	.alianza-section h1 {
	  font-size: 2.5rem;
	}
	/** Alianza - End **/
	/** Clientes - Begin **/
	.clientes-section h1 {
	  font-size: 2.5rem;
	}
	/** Clientes - End **/
	/** Redes Sociales - Begin **/
	.redes-sociales-section h1 {
	  font-size: 2.5rem;
	}
	/** Redes Sociales - End **/
	/** Testimonios - Begin **/
	.testimonios-section h1 {
	  font-size: 2.5rem;
	}
	.bg-item-testimonio-1 {
		height: auto;
	}
	.overlay-dark h5 {
		text-align: center;
	}
	.overlay-dark h6 {
		text-align: center;
	}
	.overlay-dark p {
		text-align: center;
	}
	/** Testimonios - End **/
	/** Contáctanos - Begin **/
	.contacto-section h1 {
		font-size: 2.5rem;
	}
	.g-recaptcha > div {
		width: auto !important;
		height: auto !important;
	}
	.g-recaptcha > div > div > iframe{
		width: 100% !important;
		height: 100% !important;
	}
	/** Contáctanos - End **/
}	

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
	/** Main Slider - Begin **/
	.main-carousel, .main-carousel-inner, .main-carousel-item, .main-carousel img  {
		height: 400px;
	}
	.main-carousel-caption {
		left: 20%;
		bottom: 12rem;
	}
	/** Main Slider - End **/
	/** Nosotros - Begin **/
	.nosotros-section h1 {
	  font-size: 2.5rem;
	}
	.foto {
		float: center;
	}
	/** Nosotros - End **/
	/** Certificación Internacional - Begin **/
	.certificacion-section h1 {
	  font-size: 2.5rem;
	}
	/** Certificación Internacional - En **/
	/** Nuestra Receta  - Begin **/
	.nuestra-receta-section h1 {
	  font-size: 2.5rem;
	}
	.fancybox-opened {
		width: 90% !important;
	}
	/** Nuestra Receta  - End **/
	/** Alianza - Begin **/
	.alianza-section h1 {
	  font-size: 2.5rem;
	}
	/** Alianza - End **/
	/** Clientes - Begin **/
	.clientes-section h1 {
	  font-size: 2.5rem;
	}
	/** Clientes - End **/
	/** Redes Sociales - Begin **/
	.redes-sociales-section h1 {
	  font-size: 2.5rem;
	}
	/** Redes Sociales - End **/
	/** Testimonios - Begin **/
	.testimonios-section h1 {
	  font-size: 2.5rem;
	}
	.bg-item-testimonio-1 {
		height: auto;
	}
	/** Testimonios - End **/
	/** Contáctanos - Begin **/
	.contacto-section h1 {
		font-size: 2.5rem;
	}
	/** Contáctanos - End **/
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
	/** Main Slider - Begin **/
	.main-carousel, .main-carousel-inner, .main-carousel-item, .main-carousel img  {
		height: 500px;
	}
	.main-carousel-caption {
		left: 50%;
		bottom: 8rem;
	}
	/** Main Slider - End **/
	/** Nosotros - Begin **/
	.nosotros-section h1 {
	  font-size: 3rem;
	}
	.foto {
		float: center;
	}
	/** Nosotros - End **/
	/** Certificación Internacional - Begin **/
	.certificacion-section h1 {
	  font-size: 3rem;
	}
	/** Certificación Internacional - En **/
	/** Nuestra Receta  - Begin **/
	.nuestra-receta-section h1 {
	  font-size: 3rem;
	}
	.fancybox-opened {
		width: 80% !important;
	}
	/** Nuestra Receta  - End **/
	/** Alianza - Begin **/
	.alianza-section h1 {
	  font-size: 3rem;
	}
	/** Alianza - End **/
	/** Clientes - Begin **/
	.clientes-section h1 {
	  font-size: 3rem;
	}
	/** Clientes - End **/
	/** Redes Sociales - Begin **/
	.redes-sociales-section h1 {
	  font-size: 3rem;
	}
	/** Redes Sociales - End **/
	/** Testimonios - Begin **/
	.testimonios-section h1 {
	  font-size: 3rem;
	}
	.bg-item-testimonio-1 {
		height: auto;
	}
	/** Testimonios - End **/
	/** Contáctanos - Begin **/
	.contacto-section h1 {
		font-size: 3rem;
	}
	/** Contáctanos - End **/
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) { 
	/** Main Slider - Begin **/
	.main-carousel, .main-carousel-inner, .main-carousel-item, .main-carousel img  {
		height: 600px;
	}
	.main-carousel-caption {
		left: 50%;
		bottom: 8rem;
	}
	/** Main Slider - End **/
	/** Nosotros - Begin **/
	.nosotros-section h1 {
	  font-size: 3.5rem;
	}
	.foto {
		float: left;
	}
	/** Nosotros - End **/
	/** Certificación Internacional - Begin **/
	.certificacion-section h1 {
	  font-size: 3.5rem;
	}
	/** Certificación Internacional - En **/
	/** Nuestra Receta  - Begin **/
	.nuestra-receta-section h1 {
	  font-size: 3.5rem;
	}
	.fancybox-opened {
		width: 75% !important;
	}
	/** Nuestra Receta  - End **/
	/** Alianza - Begin **/
	.alianza-section h1 {
	  font-size: 3.5rem;
	}
	/** Alianza - End **/
	/** Clientes - Begin **/
	.clientes-section h1 {
	  font-size: 3.5rem;
	}
	/** Clientes - End **/
	/** Redes Sociales - Begin **/
	.redes-sociales-section h1 {
	  font-size: 3.5rem;
	}
	/** Redes Sociales - End **/
	/** Testimonios - Begin **/
	.testimonios-section h1 {
	  font-size: 3.5rem;
	}
	.bg-item-testimonio-1 {
		height: auto;
	}
	/** Testimonios - End **/
	/** Contáctanos - Begin **/
	.contacto-section h1 {
		font-size: 3.5rem;
	}
	/** Contáctanos - End **/
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { 
	/** Main Slider - Begin **/
	.main-carousel, .main-carousel-inner, .main-carousel-item, .main-carousel img  {
		height: 800px;
	}
	.main-carousel-caption {
		left: 50%;
		bottom: 0rem;
	}
	.carousel-item {
	  margin-top: 8rem;
	}
	/** Main Slider - End **/
	/** Nosotros - Begin **/
	.nosotros-section h1 {
	  font-size: 3.5rem;
	}
	.foto {
		float: left;
	}
	/** Nosotros - End **/
	/** Certificación Internacional - Begin **/
	.certificacion-section h1 {
	  font-size: 3.5rem;
	}
	/** Certificación Internacional - En **/
	/** Nuestra Receta  - Begin **/
	.nuestra-receta-section h1 {
	  font-size: 3.5rem;
	}
	.fancybox-opened {
		width: 50% !important;
	}
	/** Nuestra Receta  - End **/
	/** Alianza - Begin **/
	.alianza-section h1 {
	  font-size: 3.5rem;
	}
	/** Alianza - End **/
	/** Clientes - Begin **/
	.clientes-section h1 {
	  font-size: 3.5rem;
	}
	/** Clientes - End **/
	/** Redes Sociales - Begin **/
	.redes-sociales-section h1 {
	  font-size: 3.5rem;
	}
	/** Redes Sociales - End **/
	/** Testimonios - Begin **/
	.testimonios-section h1 {
	  font-size: 3.5rem;
	}
	.bg-item-testimonio-1 {
		height: auto;
	}
	.overlay-dark h5 {
		text-align: justify;
	}
	.overlay-dark h6 {
		text-align: justify;
	}
	.overlay-dark p {
		text-align: justify;
	}
	/** Testimonios - End **/
	/** Contáctanos - Begin **/
	.contacto-section h1 {
		font-size: 3.5rem;
	}
	/** Contáctanos - End **/
}