
@font-face {
  font-family: 'AkzidenzGroteskBQ-Super';
  src: url('AkzidenzGroteskBQ-Super.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGroteskBQ-Super.otf')  format('opentype'),
	     url('AkzidenzGroteskBQ-Super.woff') format('woff'), url('AkzidenzGroteskBQ-Super.ttf')  format('truetype'), url('AkzidenzGroteskBQ-Super.svg#AkzidenzGroteskBQ-Super') format('svg');
  font-weight: normal;
  font-style: normal;
}
