
@font-face {
  font-family: 'Efesto-Regular';
  src: url('Efesto-Regular.eot?#iefix') format('embedded-opentype'),  url('Efesto-Regular.woff') format('woff'), url('Efesto-Regular.ttf')  format('truetype'), url('Efesto-Regular.svg#Efesto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
