/** Boby **/

/** Navbar Left **/
aside.left-panel {
  background: #4903b8;
}
.navbar {
  background: #4903b8;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	background: #4903b8;
}
.navbar .navbar-brand {
	border-bottom: 1px solid #fff;
	margin-bottom: 2rem;
}
.menutoggle {
	background-color: #FFC300;
}
.navbar .navbar-nav li > a {
	color: #fff;
	padding: 10px 5px;
}
/** Modal **/
.modal-backdrop {
	display: none;
}
/** Table **/
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
	font-size: 14px;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
	font-size: 14px;
}

/** Login **/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.btn-login {
	background-color: #4903b8;
  border: 0px;
}
.btn-login:hover {
	background-color: #f1c40f;
	color: #000;
}